@import url("https://fonts.googleapis.com/css2?family=Archivo&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: "Archivo", sans-serif;
}

header {
  display: flex;
  color: white;
  width: 100%;
  justify-content: space-between;
  padding: 30px 60px;
  align-items: center;
}

header h1 {
  font-size: 2.5rem;
}

.newNoteDiv {
  background-color: #d9d9d9;
  border-radius: 20px;
  min-width: 300px;
  width: 30%;
  max-width: 500px;
  padding: 5px;
  display: flex;
}

.newNoteDiv input,
.newNoteDiv button {
  border: none;
  line-height: 10px;
  padding: 10px;
  background-color: transparent;
}

.newNoteDiv input {
  flex: 1;
}

.newNoteDiv button {
  background-color: black;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.newNoteMobile{
  display: none;
}

.newNoteDiv input:focus {
  outline: none;
}

.modalInput {
  border: none;
  padding: 10px;
  font-size: 1.3rem;
  background-color: rgb(18, 18, 18);
  color: white;
}

.modalInput[type="text"] {
  font-weight: bold;
}

.modalInput:focus {
  outline: none;
}

#addNoteBtn,
#editNoteBtn {
  float: right;
}

.notes {
  padding: 60px 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.note {
  height: fit-content;
  width: 250px;
  border-radius: 10px;
  padding: 20px 10px 30px 10px;
  margin-bottom: 30px;
  word-wrap: break-word;
  float: left;
  margin: 16px;
  float: left;
}

.noteTitle,
.noteContent {
  padding: 0 10px;
}

.note hr {
  margin: 5px 0 10px 0;
  color: #777777;
}

.note .toolsDiv {
  display: none;
  float: right;
  position: relative;
  bottom: -20px;
}

.note:hover .toolsDiv {
  display: block;
}

.note .icon {
  margin-left: 5px;
}

@media (max-width: 768px) {
  header{
    padding: 15px 30px;
  }

  header h1 {
    font-size: 2rem;
  }

  .newNoteDiv {
    display: none;
  }

  .newNoteMobile {
    display: block;
    background-color: whitesmoke;
    color: black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    line-height: 10px;
    padding: 10px;
    margin-right: 5px;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .headerTools{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .notes {
    padding: 40px;
    display: flex;
    justify-content: center;
  }
}
